.container {
  display: flex;
  flex-direction: column;
}

.buttonSection {
  display: flex;
  justify-content: space-around;
}
.button {
  all: unset;
  padding: 0.5em 2em;
  border: 2px solid #6c5ce7;
  color: #6c5ce7;
  margin: 1em;
  font-weight: 700;
}

.button:hover {
  color: white;
  background-color: #6c5ce7;
}

@media only screen and (max-width: 1100px) {
  .buttonSection {
    justify-content: center;
  }
}
