.inputSection {
  display: flex;
  justify-content: center;
  margin-left: 8em;
}

.button {
  all: unset;
  padding: 0.5em 2em;
  border: 2px solid #6c5ce7;
  color: #6c5ce7;
  margin: 1em;
  font-weight: 700;
}

.button:hover {
  color: white;
  background-color: #6c5ce7;
}

.urlInput {
  all: unset;
  width: 500px;
  border-bottom: 2px solid #6c5ce7;
  height: 2.5em;
  margin-top: 1em;
}
